
.fix a{
  text-decoration: none;
  cursor:pointer;
  background:#61f161;

}

.fix {
  text-decoration: none;
  cursor:pointer;
  border: 1px solid #eeba0f;
  border-radius:3px;
  margin-left: 5px;
  text-decoration: none;
  background: #edfaed;
}
.bk{
  text-decoration: none;
  cursor:pointer;
  border: 1px solid #eeba0f;
  border-radius:3px;
  margin-left: 5px;
  text-decoration: none;
  background:rgb(118, 224, 118);
}
