
.listdate{
  width: 20%;
  padding-left: 0;
  line-height: 40px;
  color: #767676;
  text-align: right;
  float:left;
  list-style-type:none
}

.svgcss:hover{

  margin-left: -2px;
  margin-right: -2px;
  width:20px;
  height:20px;
  cursor: pointer;
  coloer:blue
}

.myfontsize{
   font-size:16px;
}

.myfontsize i{
  font-size:16px;
}


.divmain{

  width: 80%;
  border-left: 2px solid #eee;
  position: relative;
  float: left;
  padding: 10px;
}

.left{
  float:left
}
.listyle{
  list-style-type:none;
  padding-left: 20px
}
.listlike{
  //display: inline;
//  height: 24px;
  //vertical-align: 50%;
 // font-size: 20px;
  vertical-align: middle
}
.listlike:hover{
  background: #ceefce;
  color:blue;
}
.listlike div {
 // display: inline;
}
.hide{
  display: none;
}
.show{
  display:block;
}


.buildlist{
  background: rgba(97, 208, 94, 0.11);
}
.autohide{
  display: inline-flex;
 // max-width: 100px;
 // text-overflow: ellipsis;
  //white-space: nowrap;
 // overflow: hidden;
}
