
.fixlabel{

}

.bigcard1{
  width: 100%;
}
.bigcard{
  min-height: 600px;
  display:table-cell;
  position: relative;
  float:left;
  margin-bottom: 0px;
//  width: 45%;
  margin-left: 5px;
  margin-right: 5px;
//  text-align: center;
  top: 11px;
  left: 11px;
 // right: 11px;
}

.listdate{
  width: 10%;
  padding-left: 0;
  line-height: 40px;
  color: #767676;
  text-align: right;
  float:left;
  list-style-type:none
}

.divmain{

  width: 80%;
  border-left: 2px solid #eee;
  position: relative;
  float: left;
  padding: 10px;
}

.left{
  float:left
}
.listyle{
  list-style-type:none;
 // margin-left: 1%;
}
.platform  div a :hover{
  color: blue;

}
