
.listdate{
  width: 20%;
  padding-left: 0;
  line-height: 40px;
  color: #767676;
  text-align: right;
  float:left;
  list-style-type:none
}

.divmain{

  width: 60%;
  border-left: 2px solid #eee;
  position: relative;
  float: left;
  padding: 10px;
}

.left{
  float:left
}
.listyle{
  list-style-type:none
}
.platform  div a :hover{
  color: blue;
  background: #e1dcf5;
  box-shadow: 0 0 5px 5px #e1dcf5;
  border-radius: 5px;
}
